* :root {
    --primary: #616161;
    --accent: darkcyan;
    --header: #8B0000;
    --text: lightcyan;
    --highlight: #FF7474;
  }
main {
    background-color: var(--primary);
    color: var(--text);
}

.hide{
    display: none;
}

button, button.try-again a {
    display: block;
    background-color: var(--highlight);
}