:root {
    --primary: #616161;
    --accent: rgb(241, 102, 38);
    --header: #e03c31 ;
    --text: lightcyan;
  }

* {
/* styling for both pages  */
background-color: var(--primary);
box-sizing:border-box;
}
body {
    margin-left: auto;
    margin-right: auto;
}

button, button.try-again a {
    display: flex;
    background-color: var(--header);
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    color: var(--text);
}
button:hover {
    background-color: var(--accent);
}
#timer {
    color: var(--text);
    font-size: large;
}
/* remove title from being visable on pages  */
title {
    display: none;
}
#info {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary);
    justify-content: center;
}
img {
    max-height: 50vh;
}
 /* styling for quiz pages  */
.hide{
    display: none;
}
body{
width: 50%;
min-height:50vh;
display: block;
}
nav {
    margin: 0,
}
nav a {
    font-size: large;
    color: var(--text);
}
h1, h2 {
    background-color: var(--primary);
    color: var(--header);
    padding: 10px;
    text-align: center;
    font-size: xx-large;
}
#options {
    background-color: var(--primary);
}
#start-page, #quiz {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary);
    min-height:55vh;
    align-items: center;
}
#initials:hover {
    background-color: var(--text);
}

#start-page p {
    background-color: var(--primary);
    padding: 5px;
    font-size: larger;
}
button.answers {
    width: 100%;
    margin-bottom: 5px;
    margin-left: 0;
}
/* styling for highscore page  */
main.score {
    /* entire scoreboard including header and buttons  */
background-color: var(--primary);
min-height:50vh;

}

main.score button {
    display: inline-flex;
    margin: 25% 15% 5%;
}
h2 {
background-color: var(--primary);
text-align: center;
color: var(--header);
}

li {
    list-style-image: url('sqpurple.gif');
    background-color: var(--primary);
    padding: 10px;
}



 